<div class="preloader__imges">
  <img
    src="<%= appSettings.siteFavicon %>"
    class="preloader__img one"
    alt="No Image" width="70"
  />
  <img
    src="<%= appSettings.siteFavicon %>"
    class="preloader__img two"
    alt="No Image" width="70"
  />
</div>
