<meta charset="utf-8" />
<meta name="author" content="Softnio" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<meta
  name="description"
  content="<%= appSettings.siteDescription %>"
/>
<link
      rel="shortcut icon"
      href="<%= (appSettings && appSettings[0] && appSettings[0].siteLogo) ? appSettings[0].siteLogo : '' %>"
      type="image/x-icon"
    />
<link
  rel="stylesheet"
  href="/admin_assets/css/dashlitee1e3.css?ver=3.2.4"
/>
<link
  id="skin-default"
  rel="stylesheet"
  href="/admin_assets/css/themee1e3.css?ver=3.2.4"
/>

<link href="/global/css/iziToast.min.css" rel="stylesheet" />
<link href="/global/css/iziToast_custom.css" rel="stylesheet" />

<title><%= (appSettings && appSettings[0] && appSettings[0].siteName) ? appSettings[0].siteName : '' %></title>
